@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="@false" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Fixed="@true" Class="bg-white text-black shadow">
        <MudIcon Icon="@CustomIcons.NextId" Size="Size.Large"></MudIcon>
        <MudText Typo="Typo.h6" Class="ml-3 font-bold">CORE SERVICE</MudText>
        <div class="w-12"></div>
        <MudNavMenu>
            <div class="flex flex-row items-center justify-between" style="text-decoration: none !important;">
                <MudNavLink Class="hover:rounded bg-white text-black mr-2"
                            ActiveClass="rounded shadow bg-gray-100"
                            DisableRipple="@true"
                            Href="/"
                            Match="NavLinkMatch.All">
                    Dashboard
                </MudNavLink>
                <MudNavLink Class="hover:rounded bg-white"
                            ActiveClass="rounded shadow bg-gray-100"
                            DisableRipple="@true"
                            Href="/create">
                    Marketplace
                </MudNavLink>
                <style>
                    .mud-nav-link .mud-nav-link-text {
                        margin-left: 0px;
                        margin-inline-start: 0px;
                    }
                </style>
            </div>
        </MudNavMenu>
    </MudAppBar>
    <MudMainContent Class="mx-auto bg-gray-100">
        @Body
    </MudMainContent>
</MudLayout>
